Some custom syling for the footer of this page. Place in custom.css.

footer {
    padding: 2em 0;
    margin: 3em 0;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: center;
}

.glyphicon {
    color: #cdae51;
}

.glyphicon-pushpin,
.glyphicon-heart {
    color: #3F2B22;
}

.pull-right.img-responsive {
    margin: 0 0 1em 1em;
}

.btn-info {
    background-color: #cdae51;
    border-color: #3F2B22;
    color: #FFFFFF;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #3F2B22;
    border-color: #333;
}