<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{aboutpage.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>
    <div class="jumbotron">
        <div class="page-header">
            <h2>
                <th th:text="#{about.page.title}"/>
            </h2>
        </div>

        <p class="lead">
        <th th:text="#{about.page.message}"/>
        </p>

        <p class="lead">
        <th th:text="#{about.page.text}"/>
        </p>

    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>