<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{loginError.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>
    <div class="jumbotron">
        <p class="lead">
        <th th:text="#{loginError.message}"/>
        </p>

        <form class="navbar-form navbar-right" role="form" method="GET" th:action="@{/forgotEmail}">
            <button type="submit" class="form-group btn btn-success">
                <th th:text="#{loginError.button}"></th>
            </button>
        </form>

    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>