<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{deposit.title}"/>


</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">

        <h2>
            <th th:text="#{deposit.label}"/>
        </h2>

        <div class="panel panel-default">
            <table class="table table-hover table-condensed table-bordered table-striped" id="sorted">
                <thead>
                <tr class="center middle">
                    <th th:text="#{table.accountId}">ID</th>
                    <th th:text="#{table.balance}">Balance</th>
                    <th th:text="#{table.overdraft}">Overdraft</th>
                    <th th:text="#{table.type}">Type</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="account : ${accounts}">
                    <td><a th:href="@{/depositOperation(accountId=${account.id})}" th:text="${account.id}"></a></td>
                    <td th:text="${account.balance}">10000</td>
                    <td th:text="${account.overdraft}">10000</td>
                    <div th:switch="${account.type}">
                        <td th:case="'Checking'" th:text="#{table.checking}"></td>
                        <td th:case="'Saving'" th:text="#{table.saving}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div th:include="common :: [//footer[@id='center-footer-accountId']]"></div>

</body>
</html>