<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{history.title}"/>


</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">

        <h2>
            <th th:text="#{history.title}"/>
        </h2>

        <div class="panel panel-default">

            <table class="table table-hover table-condensed table-bordered table-striped" id="sorted">
                <thead>
                <tr class="center middle">
                    <th th:text="#{table.historyId}">Transaction ID</th>
                    <th th:text="#{table.operationType}">Operation Type</th>
                    <th th:text="#{table.amount}">amount</th>
                    <th th:text="#{table.balance}">Balance left</th>
                    <th th:text="#{table.overdraft}">Overdraft left</th>
                    <th th:text="#{table.date}">Date of Operation</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="history : ${accountHistory}">
                    <td th:text="${history.id}"></td>
                    <div th:switch="${history.type}">
                        <td th:case="'Withdraw'" th:text="#{table.withdraw}"></td>
                        <td th:case="'Deposit'" th:text="#{table.deposit}"></td>
                        <td th:case="'Transfer'" th:text="#{table.transfer}"></td>
                    </div>
                    <td th:text="${history.amount}"></td>
                    <td th:text="${history.balance}"></td>
                    <td th:text="${history.overdraft}"></td>
                    <td th:text="${history.date}"></td>
                </tr>
                </tbody>
            </table>
            <form class="navbar-form navbar-right" role="form" method="GET" th:action="@{/getReport}">
                <button type="submit" class="form-group btn btn-success">
                    <th th:text="#{history.report}"></th>
                </button>
            </form>
        </div>
    </div>

</div>
<div th:include="common :: [//footer[@id='center-footer-accountId']]"></div>
</body>
</html>