<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{managementAccounts.title}"/>
    <!-- <script>
        function balanceCheck() {
            var balance = $("balance").val();
            var result = true;
            if (balance != 0.00) {
              $("#wrongBalance").removeClass("hidden")
                result=false;
            }
            return result;
        }
     </script>-->
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">

        <h2>
            <th th:text="#{managementAccounts.title}"/>
        </h2>
        <div th:switch="${message}">
            <label th:case="'success'" class="control-label" th:text="#{managementAccounts.success}"></label>
            <label th:case="'error'" class="control-label" th:text="#{managementAccounts.notEmptyBalance}"></label>
            <label th:case="'added'" class="control-label" th:text="#{managementAccounts.added}"></label>
        </div>
        <div class="panel panel-default">


            <table class="table table-hover table-condensed table-bordered table-striped" id="sorted">
                <thead>
                <tr class="center middle">
                    <th></th>
                    <th th:text="#{table.accountId}">ID</th>
                    <th th:text="#{table.balance}">Balance</th>
                    <th th:text="#{table.overdraft}">Overdraft</th>
                    <th th:text="#{table.type}">Type</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="account : ${accounts}">
                    <td><a th:href="@{/managementOperation(accountId=${account.id})}" class="btn btn-danger"
                           role="button">
                        <span class="glyphicon glyphicon-remove"></span></a></td>

                    <td th:text="${account.id}">vpupkin</td>
                    <td th:text="${account.balance}" id="balance">Vasya Pupkin</td>
                    <td th:text="${account.overdraft}">vasya@pupkin.vp</td>
                    <div th:switch="${account.type}">
                        <td th:case="'Checking'" th:text="#{table.checking}"></td>
                        <td th:case="'Saving'" th:text="#{table.saving}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <form th:action="@{/addAccount}" method="post">
            <label class="radio">
                <input type="radio" name="type" id="type1" value="Checking" checked="checked"/>
                <th th:text="#{table.checking}"/>
            </label>
            <label class="radio">
                <input type="radio" name="type" id="type2" value="Saving"/>
                <th th:text="#{table.saving}"/>
            </label>
            <button type="submit" class="btn btn-primary ">
                <th th:text="#{managementAccounts.addButton}"/>
            </button>
        </form>

    </div>

</div>
<footer>
    <div id="footerText" class="span12" style="text-align:center">
        <div th:switch="${#locale.language}">
            <p th:case="'en'">
                <a class="label label-info">English</a> | <a th:href="@{management?lang=ru(accountId=${accountId})}">Русский</a>
            </p>

            <p th:case="'ru'">
                <a th:href="@{management?lang=en(accountId=${accountId})}">English</a> | <a class="label label-info">Русский</a>
            </p>
        </div>
        <br/>

        Copyright 2014 Andrew Los
    </div>
</footer>
</body>
</html>