<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{transfer.title}"/>


</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">

        <h2>
            <th th:text="#{transfer.title}"/>
        </h2>
        <div th:switch="${message}">
            <label th:case="'success'" class="control-label" th:text="#{operation.success}"></label>
            <label th:case="'stringError'" class="control-label" th:text="#{operation.error.string}"></label>
            <label th:case="'lessThenZeroError'" class="control-label"
                   th:text="#{operation.error.lessThenZero}"></label>
            <label th:case="'notEnoughFundsError'" class="control-label"
                   th:text="#{operation.error.notEnoughFundsError}"></label>
        </div>
        <label th:text="#{operation.balance} + ${account.balance}"></label>
        <label th:text="#{operation.overdraft} + ${account.overdraft}"></label>

        <div th:switch="${account.type}">
            <label th:case="'Checking'" th:text="#{operation.typeC}">></label>
            <label th:case="'Saving'" th:text="#{operation.typeS}">></label>
        </div>
        <form th:action="@{/transferOperationProceed}" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label th:text="#{transferOperation.label.passTarget}" class="control-label">Target
                            Account</label>

                        <div class="controls">
                            <input th:value="${targetAccountId}" class="form-control" disabled="disabled"/>
                            <input id="targetAccountId" name="targetAccountId" type="hidden"
                                   th:value="${targetAccountId}" class="form-control"/>

                        </div>
                        <label th:text="#{transferOperation.label.passAmount}" class="control-label">Amount</label>
                    </div>
                    <div class="controls">
                        <input type="text" th:value="${amount}" class="form-control" disabled="disabled"/>
                        <input id="amount" name="amount" type="hidden" th:value="${amount}" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary ">
                        <th th:text="#{transfer.title}"/>
                    </button>
                </div>
                <div class="col-md-8">
                    <label th:text="#{transferOperation.label.agree}"></label>
                    <label th:text="#{transferOperation.name} + ${targetUser.name}"></label>
                    <label th:text="#{transferOperation.email} + ${targetUser.email}"></label>
                </div>
            </div>

        </form>
    </div>

</div>
<div th:include="common :: [//footer[@id='center-footer-accountId']]"></div>
</body>
</html>