<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{label.login}">Title</title>
</head>
<body>
<div class="container">

    <th th:include="common :: pageHeader"/>
    <div class="jumbotron">
        <div style="padding:0 25%">
            <div tiles:fragment="content">
                <form role="form" name="f" th:action="@{/login}" method="post" class="form-signin">
                    <fieldset>
                        <div th:if="${param.error}" class="alert alert-danger">
                            <th th:text="#{login.page.loginerror}"/>
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out
                        </div>
                        <h3 class="form-signin-heading">
                            <th th:text="#{password.changed.title}"/>
                        </h3>

                        <input class="form-control loginform" type="text" id="username" name="username"
                               th:placeholder="#{login.page.loginplaceholder}"/>
                        <input class="form-control loginform" type="password" id="password" name="password"
                               th:placeholder="#{login.page.passwordplaceholder}"/>

                        <div class="form-actions">

                            <button type="submit" class="btn btn-success">
                                <th th:text="#{login.page.loginbutton}"/>
                            </button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>