<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <script type="text/javascript" th:src="@{/resources/js/registration.js}"></script>

    <title th:text="#{registration.title}">Title</title>
</head>
<body>

<div class="container">

    <th th:include="common :: pageHeader"/>
    <div class="jumbotron">
        <div style="padding:0 25%">
            <form class="form-signin" role="form" method="POST" th:action="@{/registration}">
                <h2 class="form-signin-heading" th:text="#{registration.caption}">Please enter sign up details</h2>

                <div th:if="${errors == null}">
                    <div id="loginGroup" class="form-group">
                        <input id="login" type="text" class="form-control" name="login"
                               th:placeholder="#{registration.login}"/>
                        <label id="loginErrorLength" class="control-label hidden" for="login"
                               th:text="#{registration.error.login.length}"></label>
                        <label id="loginErrorBadChars" class="control-label hidden" for="login"
                               th:text="#{registration.error.login.badChars}"></label>
                        <label id="loginErrorEmpty" class="control-label hidden" for="login"
                               th:text="#{registration.error.login.empty}"></label>
                    </div>
                    <div id="passwordGroup" class="form-group has-feedback">
                        <input id="password" type="password" class="form-control" name="password"
                               th:placeholder="#{registration.password}"/>
                        <label id="passwordErrorEmpty" class="control-label hidden" for="password"
                               th:text="#{registration.error.password.empty}"></label>
                    </div>

                    <div id="passwordConfirmGroup" class="form-group has-feedback">
                        <input id="passwordConfirm" type="password" class="form-control"
                               th:placeholder="#{registration.confirmPassword}"/>
                        <label id="confirmPasswordError" class="control-label hidden" for="passwordConfirm"
                               th:text="#{registration.error.wrongConfirmPassword}"></label>
                    </div>

                    <div id="nameGroup" class="form-group has-feedback">
                        <input id="name" type="text" class="form-control" name="name"
                               th:placeholder="#{registration.name}"/>
                        <label id="nameErrorEmpty" class="control-label hidden" for="name"
                               th:text="#{registration.error.name.empty}"></label>
                    </div>

                    <div id="emailGroup" class="form-group has-feedback">
                        <input id="email" type="email" class="form-control" name="email"
                               th:placeholder="#{registration.email}"/>
                        <label id="emailErrorEmpty" class="control-label hidden" for="email"
                               th:text="#{registration.error.email.empty}"></label>
                        <label id="emailErrorWrong" class="control-label hidden" for="email"
                               th:text="#{registration.error.email}"></label>
                    </div>
                </div>

                <div th:if="${errors != null}">
                    <input type="text" class="form-control" name="login" th:attr="value=${data.login}"
                           th:placeholder="#{registration.login}"/>

                    <input type="password" class="form-control" name="password" th:attr="value=${data.password}"
                           th:placeholder="#{registration.password}"/>

                    <input type="password" class="form-control" id="passwordConfirm"
                           th:placeholder="#{registration.confirmPassword}"/>

                    <input type="text" class="form-control" name="name" id="name" th:attr="value=${data.name}"
                           th:placeholder="#{registration.name}"/>

                    <input type="email" class="form-control" name="email" id="email" th:attr="value=${data.email}"
                           th:placeholder="#{registration.email}"/>
                </div>

                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register"
                       onclick="return validate();"/>

            </form>
        </div>

        <p class="alert alert-warning" th:if="${errors != null}" th:text="#{registration.Exists}">
        </p>
    </div>
    <!-- /jumbotron -->


</div>

<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>