<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{managingUsers.title}"/>

    <script type="text/javascript">

        var btn;

        $(document).ready(function () {
            $('.save-button').attr("disabled", "disabled");

            $(document).on("change", "#role", function () {
                btn = $(this).closest("tr").find('.save-button');
                btn.removeClass('btn-default').addClass('btn-primary');
                btn.removeAttr("disabled");
            });
        });
    </script>

</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">

        <h2>
            <th th:text="#{managingUsers.title}"/>
        </h2>

        <div class="panel panel-default">

            <table class="table">
                <thead>
                <tr class="center middle">
                    <th></th>
                    <th th:text="#{management.table.title.id}"></th>
                    <th th:text="#{management.table.title.login}"></th>
                    <th th:text="#{management.table.title.name}"></th>
                    <th th:text="#{management.table.title.email}"></th>
                    <th th:text="#{management.table.title.role}"></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user : ${users}">
                    <td><a class="btn btn-danger" th:href="@{/admin/managing/delete} + '?id=' + ${user.id}"
                           role="button">
                        <span class="glyphicon glyphicon-remove"></span></a></td>

                    <td class="user-id" th:text="${user.id}">42</td>
                    <td th:text="${user.login}">vpupkin</td>
                    <td th:text="${user.name}">Vasya Pupkin</td>
                    <td th:text="${user.email}">vasya@pupkin.vp</td>
                    <td>
                        <form role="form" th:action="@{/admin/managing}" method="post" th:object="${userIdNewRoleDto}">
                            <input type="hidden" name="id" th:value="${user.id}"/>

                            <div class="form-group col-md-8">
                                <select id="role" class="form-control" name="newRole" th:value="${user.role}">
                                    <option th:each="role : ${roles}"
                                            th:value="${role}"
                                            th:selected="${role} == ${user.role}"
                                            th:text="${role}">
                                        USER_ROLE
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <button class="btn btn-default save-button"
                                        type="submit" th:text="#{management.table.button.save}">Save
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>