<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/dialect">
<head id="headerFragment" th:fragment="headerFragment">

    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/resources/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="resources/js/jquery.tablesorter.min.js"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $("#sorted").tablesorter();
            });
        });
    </script>
    <meta charset="UTF-8"/>
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
</head>
<body>

<div id="pageHeader" th:fragment="pageHeader">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/}" th:text="#{label.index}"></a>
                    </li>
                    <li>
                        <a th:href="@{/about}" th:text="#{nav.about}"></a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')or hasRole('USER')">
                        <a th:href="@{/profile}" th:text="#{nav.profile}"></a>
                    </li>
                    <li class="dropdown" sec:authorize="hasRole('ADMIN')or hasRole('USER')">
                        <a th:href="@{/}" th:text="#{nav.operations}" class="dropdown-toggle"
                           data-toggle="dropdown"> Operations</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/transfer}" th:text="#{nav.transfer}">Transfer</a>
                            </li>
                            <li>
                                <a th:href="@{/deposit}" th:text="#{nav.deposit}">Deposit</a>
                            </li>
                            <li>
                                <a th:href="@{/withdraw}" th:text="#{nav.withdraw}">Withdraw</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{/history}" th:text="#{nav.history}">History</a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('USER') or hasRole('ADMIN')">
                        <a th:href="@{/management}" th:text="#{nav.management}">Management</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin/managing}" th:text="#{nav.adminManagement}">Admin Management</a>
                    </li>
                </ul>


                <th th:if="${sec.principal == 'anonymousUser'}">
                    <!-- registration -->
                    <div class="navbar-collapse collapse">
                        <form class="navbar-form navbar-right" role="form" method="GET" th:action="@{/registration}">
                            <button type="submit" class="form-group btn btn-success">
                                <th th:text="#{label.register}"></th>
                            </button>
                        </form>

                        <!-- login -->

                        <form class="navbar-form navbar-right" role="form" method="POST" th:action="@{/login}">
                            <div class="form-group">
                                <input type="text" placeholder="Login" class="form-control" name="username"/>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" name="password"/>
                            </div>
                            <button type="submit" class="form-group btn btn-success">
                                <th th:text="#{label.login}"></th>
                            </button>
                        </form>
                    </div>
                </th>
                <th th:unless="${sec.principal == 'anonymousUser'}">
                    <div class="navbar-collapse collapse">
                        <form class="navbar-form navbar-right" role="form" method="GET" th:action="@{/logout}">
                            <button type="submit" class="form-control btn btn-success">
                                <th th:text="#{label.logout}">Logout</th>
                            </button>
                        </form>
                        <a class="navbar-link" th:href="@{/profile}">
                            <a class="navbar-text navbar-right" sec:authorize="hasRole('ADMIN')" th:href="@{/profile}">
                                (ADMIN)
                            </a>

                            <a class="navbar-text navbar-right" th:text="${sec.principal.username}"
                               th:href="@{/profile}"/>
                            <a class="navbar-brand navbar-right" th:href="@{/profile}">
                            </a>
                        </a>
                    </div>
                </th>
            </div>
        </div>
    </div>


</div>
<footer id="center-footer">
    <div id="footerText" class="span12" style="text-align:center">
        <div th:switch="${#locale.language}">
            <p th:case="'en'">
                <a class="label label-info">English</a> | <a href="?lang=ru">Русский</a>
            </p>

            <p th:case="'ru'">
                <a href="?lang=en">English</a> | <a class="label label-info">Русский</a>
            </p>
        </div>
        <br/>

        Copyright 2014 Andrew Los
    </div>
</footer>


<footer id="center-footer-accountId">
    <div id="footerText" class="span12" style="text-align:center">
        <div th:switch="${#locale.language}">
            <p th:case="'en'">
                <a class="label label-info">English</a> | <a th:href="@{?lang=ru(accountId=${accountId})}">Русский</a>
            </p>

            <p th:case="'ru'">
                <a th:href="@{?lang=en(accountId=${accountId})}">English</a> | <a class="label label-info">Русский</a>
            </p>
        </div>
        <br/>

        Copyright 2014 Andrew Los
    </div>
</footer>


</body>

</html>