<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{mainpage.title}"/>
</head>
<body>

<th th:include="common :: pageHeader"/>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

        <h1 th:text="#{mainpage.jumbotron.greating}">Hello, world!</h1>

        <p th:text="#{mainpage.jumbotron.text}">This is a template for a simple marketing or informational website. It
            includes a large callout called the
            hero unit and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>

        <p><a class="btn btn-primary btn-lg" th:href="@{/about}" th:text="#{nav.about}">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <hr/>
    <div th:include="common :: [//footer[@id='center-footer']]"></div>
</div>
<!-- /container -->
</body>

</html>