<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{profile.title}">Title</title>

</head>
<body>

<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <div class="page-header">
            <h2>
                <th th:text="#{profile.text.title}"/>
            </h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4 lbl">
                    <div th:text="#{profile.user.login}"></div>
                </div>
                <div class="col-md-4">
                    <label th:text="${user.login}"></label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 lbl">
                    <div th:text="#{profile.user.email}">Email:</div>
                </div>
                <div class="col-md-4">
                    <label th:text="${user.email}" class="email-lbl">vasya@pupkin.vp</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 lbl">
                    <div th:text="#{profile.user.name}">Name:</div>
                </div>
                <div class="col-md-4">
                    <label th:text="${user.name}">Vasya Pupkin</label>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>